:root{
    --th : #7583ff;
    --hi : #e9e9ff;
    --fl : #a3a4ff;
    background: var(--hi);
}

*{
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration:none;
 }


body {
    font-family: "Courier New";
    color : var(--th);
    text-align: center;
    margin-top: 50px;
}

#navbar{
    margin: auto;
    width: 100%;
    background-color: var(--th);
    color: var(--hi);
    position: fixed;
    top: 0px;
    left: 0px;
    padding:0px 0px;
}
nav ul {    
    padding: 15px 0px 15px 30px;
}
nav li {
    display: inline;
    color: white;
    padding: 15px 20px 15px 20px;
    margin-right: 20px;
}
nav li:hover{
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100%{
        background-color: var(--fl);
    }
}


header, section, footer, aside, nav, article, hgroup{
    display: block;
}

#find {
    width: 100%;
    height: 90%;
}

#indexPageBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#searchPageBox{
    position: relative;
    top: 10px;
    left: 10px;
}
.searchBox{
    background: white;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    width: 280px;
}
.searchButton{
    right: 20px;
    color: red;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor:pointer;
    background: rgb(23, 0, 128);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--fl);
    opacity: 1; /* Firefox */
  }
.searchText{
    font-family: "Courier New";
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(23, 0, 128);
    font-size: 16px;
    line-height: 40px;
    width: 240px;
}

footer{
    background: white;
    position: absolute;
    text-align: center;
    vertical-align: center;
    height: 50px;
    width: 100%;
    bottom: 0px;
}

